TEXTRAZOR_API_KEY=your_textrazor_api_key_here

# Intake for Chrome extension / VA / partners
WEBHOOK_SHARED_SECRET=dev-speedlead-hook
DEFAULT_SEND_SMS_ON_HOOK=true

# Optional SMS (Twilio)
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# TWILIO_FROM_NUMBER=
# ALERT_TO_NUMBER=(417) 555-0100

# Demo business defaults
DEFAULT_BUSINESS_NAME=Ozark Comfort Pros
DEFAULT_OWNER_NAME=Mike
DEFAULT_PHONE=(417) 555-0199
DEFAULT_CITY=Springfield
